.vscode/
.venv/
**/__pycache__
**/.venv
**/.vscode
neurosnap.egg-info
tests/test_tmp.py
.pytest_cache
dist/

# sphinx
docs/build/
docs/source/neurosnap.*.rst
.docs-sync.env
# docs/source/
# !docs/source/conf.py
